<section id="widget-grid" data-ng-controller="Controller">
	<div class="row">
		<article class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div class="jarviswidget jarviswidget-color-teal">
				<header>
					<span class="widget-icon"><i class="fa fa-google"></i></span>
					<h2>Generate New Feed Entry</h2>
				</header>
				<div>
					<div class="widget-body">
                        <form>
                            <div class="form-group">
                                <label for="mpn">MPN</label>
                                <input type="text" class="form-control" id="mpn" placeholder="MPN" ng-model="mpn" ng-blur="populateCustom()">
                            </div>
                            <div class="form-group">
                                <label for="split">Number of Entries</label>
                                <input type="number" min="1" class="form-control" id="split" placeholder="Number of Entries" ng-model="split">
                            </div>
                            <div class="form-group">
                                <label for="prefix">Description Prefix</label>
                                <input type="text" class="form-control" id="prefix" placeholder="Description Prefix" ng-model="prefix">
                            </div>
                            <div class="form-group">
                                <label for="custom_mpn">Custom MPN</label>
                                <input type="text" class="form-control" id="custom_mpn" placeholder="Custom MPN" ng-model="custom_mpn">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="text" class="form-control" id="price" placeholder="Leave empty to use store price" ng-model="price">
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <input type="text" class="form-control" id="category" placeholder="Category" ng-model="category" maxlength="2500">
                            </div>
                            <div class="form-group">
                                <label for="custom_label0">Custom Label 0</label>
                                <input type="text" class="form-control" id="custom_label0" placeholder="Custom Label 0" ng-model="custom_label0" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="custom_label1">Custom Label 1</label>
                                <input type="text" class="form-control" id="custom_label1" placeholder="Custom Label 1" ng-model="custom_label1" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="custom_label2">Custom Label 2</label>
                                <input type="text" class="form-control" id="custom_label2" placeholder="Custom Label 2" ng-model="custom_label2" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="custom_label3">Custom Label 3</label>
                                <input type="text" class="form-control" id="custom_label3" placeholder="Custom Label 3" ng-model="custom_label3" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="custom_label4">Custom Label 4</label>
                                <input type="text" class="form-control" id="custom_label4" placeholder="Custom Label 4" ng-model="custom_label4" maxlength="100">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="generate()">Generate</button>
                        </form>
					</div>
				</div>
			</div>
		</article>
	</div>

    <div class="row" ng-show="products != null">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-teal">
                <header>
                    <span class="widget-icon"><i class="fa fa-google"></i></span>
                    <h2>Results</h2>
                    <div class="widget-toolbar">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn-xs btn-warning" data-toggle="dropdown">
                                <i class="fa fa-copy"></i>&nbsp; Bulk Actions <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:void(0);" ng-click="uploadAll()"><i class="fa fa-fw fa-save"></i> Upload All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>
                <div>
                    <div class="widget-body">
                        <p ng-hide="products.length">No entries generated.</p>
                        <accordion close-others="false">
                            <accordion-group ng-repeat="p in products" is-open="$first">
                                <accordion-heading>
                                    <strong>{{p.title}}</strong>
                                </accordion-heading>
                                <div class="panel-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="id{{$index}}">Item ID</label>
                                            <input type="text" class="form-control" id="id{{$index}}" ng-model="p.id" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="mpn{{$index}}">MPN</label>
                                            <input type="text" class="form-control" id="mpn{{$index}}" placeholder="MPN" ng-model="p.mpn" maxlength="70">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_mpn{{$index}}">Custom MPN</label>
                                            <input type="text" class="form-control" id="custom_mpn{{$index}}" placeholder="Custom MPN" ng-model="p.custom_mpn" maxlength="70">
                                        </div>
                                        <div class="form-group">
                                            <label for="brand{{$index}}">Brand</label>
                                            <input type="text" class="form-control" id="brand{{$index}}" placeholder="Brand" ng-model="p.brand" maxlength="70">
                                        </div>
                                        <div class="form-group">
                                            <label for="title{{$index}}">Title</label>
                                            <input type="text" class="form-control" id="title{{$index}}" placeholder="Title" ng-model="p.title" maxlength="150">
                                        </div>
                                        <div class="form-group">
                                            <label for="description{{$index}}">Description</label>
                                            <textarea class="form-control" rows="5" id="description{{$index}}" placeholder="Description" ng-model="p.description" maxlength="5000"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="link{{$index}}">Link</label>
                                            <input type="text" class="form-control" id="link{{$index}}" placeholder="Link" ng-model="p.link" maxlength="2000">
                                        </div>
                                        <div class="form-group">
                                            <label for="link{{$index}}">Image Link</label>
                                            <input type="text" class="form-control" id="image_link{{$index}}" placeholder="Image Link" ng-model="p.image_link" maxlength="2000">
                                        </div>
                                        <div class="form-group">
                                            <label for="price{{$index}}">Price</label>
                                            <input type="text" class="form-control" id="price{{$index}}" placeholder="Price" ng-model="p.price">
                                        </div>
                                        <div class="form-group">
                                            <label for="shipping{{$index}}">Shipping</label>
                                            <input type="text" class="form-control" id="shipping{{$index}}" placeholder="Shipping" ng-model="p.shipping">
                                        </div>
                                        <div class="form-group">
                                            <label for="item_condition{{$index}}">Condition</label>
                                            <select class="form-control" id="item_condition{{$index}}" ng-model="p.item_condition">
                                                <option value="new">New</option>
                                                <option value="refurbished">Refurbished</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="availability{{$index}}">Availability</label>
                                            <select class="form-control" id="availability{{$index}}" ng-model="p.availability">
                                                <option value="in stock">In Stock</option>
                                                <option value="out of stock">Out of Stock</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="category{{$index}}">Category</label>
                                            <input type="text" class="form-control" id="category{{$index}}" placeholder="Category" ng-model="p.category" maxlength="2500">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_label0{{$index}}">Custom Label 0</label>
                                            <input type="text" class="form-control" id="custom_label0{{$index}}" placeholder="Custom Label 0" ng-model="p.custom_label0" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_label1{{$index}}">Custom Label 1</label>
                                            <input type="text" class="form-control" id="custom_label1{{$index}}" placeholder="Custom Label 1" ng-model="p.custom_label1" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_label2{{$index}}">Custom Label 2</label>
                                            <input type="text" class="form-control" id="custom_label2{{$index}}" placeholder="Custom Label 2" ng-model="p.custom_label2" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_label3{{$index}}">Custom Label 3</label>
                                            <input type="text" class="form-control" id="custom_label3{{$index}}" placeholder="Custom Label 3" ng-model="p.custom_label3" maxlength="100">
                                        </div>
                                        <div class="form-group">
                                            <label for="custom_label4{{$index}}">Custom Label 4</label>
                                            <input type="text" class="form-control" id="custom_label4{{$index}}" placeholder="Custom Label 4" ng-model="p.custom_label4" maxlength="100">
                                        </div>
                                        <button type="button" class="btn btn-success" ng-click="upload(p)">{{p.uploaded ? 'Update' : 'Upload'}}</button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-danger" ng-click="discard($index)" ng-hide="p.uploaded">Discard</button>
                                    </form>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<script type="text/javascript">
    pageSetUp();

    function Controller ($scope, $http)
    {
        $scope.category = 'Vehicles & Parts > Vehicle Parts & Accessories > Motor Vehicle Parts';
        $scope.products = null;

        $scope.generate = function()
        {
            $http.post('/api/google_feed/generate',
                    {
                        mpn: $scope.mpn,
                        split: $scope.split,
                        prefix: $scope.prefix,
                        custom_mpn: $scope.custom_mpn,
                        price: $scope.price,
                        category: $scope.category,
                        custom_label0: $scope.custom_label0,
                        custom_label1: $scope.custom_label1,
                        custom_label2: $scope.custom_label2,
                        custom_label3: $scope.custom_label3,
                        custom_label4: $scope.custom_label4
                    })
                .success(function (data)
                {
                    if (data.success) $scope.products = data.entries;
                    else $scope.$popError('Error while generating entries', data);

                    if (!$scope.products) $scope.products = [];
                }).error(function (data)
                {
                    $scope.products = null;
                    $scope.$popError('Error while generating entries', data);
                });
        };

        $scope.discard = function(index)
        {
            $scope.products.splice(index, 1);
        };

        $scope.upload = function(product)
        {
            $http.post('/api/google_feed/upload', product)
                .success(function (data)
                {
                    if (data.success)
                    {
                        $scope.$popOk('Product uploaded successfully');
                        product.uploaded = true;
                    }
                    else $scope.$popError('Error while uploading product', data);
                }).error(function (data)
                {
                    $scope.$popError('Error while uploading product', data);
                });
        };

        $scope.uploadAll = function()
        {
            if (!$scope.products) return;

            for (var i = 0; i < $scope.products.length; i++)
            {
                $scope.upload($scope.products[i]);
            }
        };

        $scope.populateCustom = function()
        {
            $scope.custom_mpn = 'EOC' + $scope.mpn;
        }
    }
</script>
